@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
.a-left {
  text-align: left; }

.a-right {
  text-align: right; }

.a-center {
  text-align: center; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

body,
* {
  margin: 0;
  padding: 0;
  outline: 0 !important; }

body {
  color: #000;
  font: normal 100%/1.4 "Muli", sans-serif; }

ul li {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: none; }

p, h2, h3 {
  text-align: center;
  margin: 0; }

Section {
  display: inline-block;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(315deg, #8FD3C5, #1686D9); }
  Section h2 {
    padding: 30px 0;
    color: #fff; }
  Section .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; }

.video-block {
  float: left; }
  .video-block img {
    max-width: 100%; }
  .video-block .l-video {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    cursor: pointer; }
    .video-block .l-video > img {
      visibility: hidden; }
    .video-block .l-video[data-loader="active"] {
      background-size: 40px;
      background-image: url("../images/loading.gif") !important; }
      .video-block .l-video[data-loader="active"]:hover {
        background-size: 40px !important; }

@media (min-width: 1200px) {
  .video-block {
    width: 25%;
    margin: 0 0 30px;
    padding: 0 15px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .video-block {
    width: 33.3333333333%;
    margin: 0 0 20px;
    padding: 0 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .video-block {
    width: 50%;
    margin: 0 0 20px;
    padding: 0 10px; } }
@media (min-width: 550px) and (max-width: 767px) {
  .video-block {
    width: 50%;
    margin: 0 0 20px;
    padding: 0 7.5px; } }
@media (max-width: 549px) {
  .video-block {
    width: 100%;
    margin: 0 0 20px;
    padding: 0 10px; } }
.video-block .play-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  background-color: #1c8ad8;
  background-image: url(../images/play-icon.png);
  background-size: 15px;
  background-position: 15px 10.5px;
  background-repeat: no-repeat;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }
  .video-block .play-icon:hover {
    background-size: 10px;
    background-position: 17px 13.5px;
    box-shadow: inset 5px 5px 5px 5px #2b85c5;
    -moz-box-shadow: inset 5px 5px 5px 5px #2b85c5;
    -webkit-box-shadow: inset 5px 5px 5px 5px #2b85c5; }

.video-block [data-loader="active"] .play-icon {
  top: -50px;
  bottom: auto; }

.video-block .l-video:hover {
  background-size: 110%;
  cursor: pointer; }
  .video-block .l-video:hover .play-icon {
    background-size: 10px;
    background-position: 17px 13.5px;
    box-shadow: inset 5px 5px 5px 5px #2b85c5;
    -moz-box-shadow: inset 5px 5px 5px 5px #2b85c5;
    -webkit-box-shadow: inset 5px 5px 5px 5px #2b85c5; }
.video-block .l-video.v-popup-active:hover {
  background-size: 100%;
  cursor: default; }
  .video-block .l-video.v-popup-active:hover .play-icon {
    background-size: 15px;
    background-position: 15px 10.5px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }

.video-block .l-video-popup {
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0; }
  .video-block .l-video-popup .popup-container {
    width: 100%;
    max-width: 600px;
    height: 360px;
    position: relative;
    margin: 100px auto;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }

.video-block .close-icon {
  width: 40px;
  height: 40px;
  top: -15px;
  right: -15px;
  position: absolute;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border: 8px solid #fff;
  background-color: #1c8ad8;
  background-image: url(../images/close-icon.png);
  background-size: 13px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  cursor: pointer; }
  .video-block .close-icon:hover {
    background-size: 13px;
    background-position: center;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 4px solid #fff; }

.video-block .v-popup-active .l-video-popup {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(28, 138, 216, 0.52);
  overflow: hidden;
  opacity: 1;
  z-index: 99999; }

/*# sourceMappingURL=style.css.map */
